<div class="parent-container">
  <div class="left-container">
  <% @sheets.each do |sheet| %>
    <%= link_to school_sheet_path(sheet.school, sheet), class: "sheet-link" do %>
      <div class="sheet-link-date">
        <ul class="sheet-link-lists">
          <li>Health Check Sheet</li>
          <li>OO年</li>
          <li>O月O日</li>
        </ul>
      </div>
      <div class="sheet-link-class">
        O年O組
      </div>
      <div class="sheet-link-teacher">
        <ul class="sheet-link-lists">
          <li>OO先生</li>
          <li>OO先生</li>
        </ul>
      </div>
    <% end %>
  <% end %>
    <%= link_to "#", class: "sheet-link" do %>
      <div class="sheet-link-date">
        <ul class="sheet-link-lists">
          <li>Health Check Sheet</li>
          <li>OO年</li>
          <li>O月O日</li>
        </ul>
      </div>
      <div class="sheet-link-class">
        O年O組
      </div>
      <div class="sheet-link-teacher">
        <ul class="sheet-link-lists">
          <li>OO先生</li>
          <li>OO先生</li>
        </ul>
      </div>
    <% end %>
    <%= link_to "#", class: "sheet-link" do %>
      <div class="sheet-link-date">
        <ul class="sheet-link-lists">
          <li>Health Check Sheet</li>
          <li>OO年</li>
          <li>O月O日</li>
        </ul>
      </div>
      <div class="sheet-link-class">
        O年O組
      </div>
      <div class="sheet-link-teacher">
        <ul class="sheet-link-lists">
          <li>OO先生</li>
          <li>OO先生</li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="right-container">
    カレンダー
  </div>
</div>