<div class="top-wrapper">
  <div class="container">
    <div class="parent-container">
      <div class="left-container">
        <%= render partial: "sheets/index" %>
      </div>
      <div class="right-container">
        <%= render partial: "sheets/calendar" %>
        <%= render partial: "index" %>
        <div class="teacher-right-image">
          <%= image_tag "096505.png", class: "right-image" %>
        </div>
      </div>
    </div>
  </div>
</div>