#symptoms {
  display: none;
  .symptoms-label {
    display: inline-block;
    
  }
}
@media (min-width: 1024px) {
  .check-head {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px solid #eee;
  }
  .check-container {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.04);
    .check-group {
      text-align: center;
      .check-label {
        padding: 40px 0;
        font-size: 1.8rem;
      }
      .symptoms-form {
        padding: 40px 0;
        border-bottom: 1px solid #eee;
        font-size: 1.5rem;
      }
      .check-form {
        padding: 40px 0;
        border-bottom: 1px solid #eee;
        font-size: 1.5rem;
        .select-form {
          margin-left: 5px;
          font-size: 1.5rem;
          opacity: 0.6;
        }
        p {
          margin-top: 10px;
          color: #ff8db3;
          font-size: 1.2rem;
        }
      }
      .opinion-form {
        width: 50%;
        border: 1px solid #5876a3;
        font-size: 2rem;
        &:focus {
          outline: none;
          border: 1px solid #8be0e6;
          transition: 0.4s;
        }
      }
    }
    .check-group-submit {
      text-align: center;
      padding: 40px;
      p {
        margin-top: 10px;
        color: #ff8db3;
        font-size: 1.2rem;
      }
      .check-submit-btn {
        padding: 15px 60px;
        margin: 30px 0;
        background: rgb(48, 200, 214);
        border: 1px solid rgb(48, 200, 214);
        color: white;
        letter-spacing: 5px;
        border-radius: 8px 8px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
          transition: 0.4s;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .check-head {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 1px solid #eee;
  }
  .check-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.04);
    border-radius: 6px 6px;
    .check-group {
      text-align: center;
      .check-label {
        padding: 20px 0;
        font-size: 1rem;
      }
      .symptoms-form {
        padding: 20px 0;
        border-bottom: 1px solid #eee;
        font-size: 1rem;
      }
      .check-form {
        padding: 20px 0;
        border-bottom: 1px solid #eee;
        font-size: 1rem;
        .select-form {
          margin-left: 5px;
          font-size: 1rem;
          opacity: 0.6;
        }
        p {
          margin-top: 10px;
          color: #ff8db3;
          font-size: 1rem;
        }
      }
      .opinion-form {
        width: 90%;
        border: 1px solid #5876a3;
        font-size: 1.6rem;
        border-radius: 6px 6px;
        &:focus {
          outline: none;
          border: 1px solid #8be0e6;
          transition: 0.4s;
        }
      }
    }
    .check-group-submit {
      text-align: center;
      padding: 40px;
      p {
        margin-top: 10px;
        color: #ff8db3;
        font-size: 1rem;
      }
      .check-submit-btn {
        padding: 15px 60px;
        margin: 30px 0;
        background: rgb(48, 200, 214);
        border: 1px solid rgb(48, 200, 214);
        color: white;
        letter-spacing: 5px;
        border-radius: 8px 8px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
          transition: 0.4s;
        }
      }
    }
  }
}