
// index.html.erb///////////////////////////////////////
.catch-copy {
  margin-top: 80px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
  p {
    margin-bottom: 20px;
  }
}
.joining-schools {
  text-align: center;
}
.school-btns {
  margin: 0 auto;
  letter-spacing: 3px;  
  .signup-btn {
    background: rgb(48, 200, 214);
    display: block;
    width: 20%;
    padding: 15px 40px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    color: white;
    border-radius: 6px 6px;
  }
  .school-btn {

  } 
}

// new.html.erb, login_form.html.erb/////////////////////////////////////////
.school-form {
  width: 40%;
  margin: 0 auto;
  .form-head {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px solid #eee;
  }
  .form-group {
    margin-bottom: 30px;
    .form {
      height: 48px;
      width: 100%;
      border: 1px solid rgb(186, 198, 211);
      font-size: 1.2rem;
      border-radius: 10px 10px;
      &:focus {
        outline: none;
        border: 1px solid #8be0e6;
        transition: 0.4s;
      }
    }
  }
  .form-btns {
    padding: 0 80px;
    .submit-btn {
      height: 48px;
      width: 100%;
      background: rgb(48, 200, 214);
      border: 1px solid rgb(48, 200, 214);
      color: white;
      letter-spacing: 5px;
      font-weight: 600;
      border-radius: 10px 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
        transition: 0.4s;
      }
    }
    .back-btn {
      margin-top: 20px;
      text-align: center;
    }
  }
}


// show.html.erb////////////////////////////////////////
.school-name {
  background: red;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  font-size: 80px;
}

.join-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 800px;
  margin: 0 auto;
  background: pink;
  .join-btn {
    font-size: 50px;
    background: red;
  }
}

// new.html.erb/////////////////////////////////////////
