.top-wrapper {
  height: 100vh;
  .container {
    margin: 20px 20px;

  }
}

// new.html.erb/////////////////////////////////////////
.school-form {
  width: 650px;
  margin: 0 auto;
  
  .form-group {
    margin-bottom: 10px;
    .form {
      height: 30px;
      width: 100%;
    }
  }
}