.parent-container {
  display: flex;
  margin: 60px 140px; 
  .left-container {
    width: 68%;
    .student-info-box {
      display: flex;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 150px;
      background: white;
      box-shadow: 0 2px 10px rgba(0,0,0,0.04);
      .name-info {
        display: flex;
        align-items: center;
        width: 40%;
        .student-image {
          width: 40%;
          text-align: center;
          font-size: 2rem;
        }
        .student-info {
          width: 40%;
          text-align: center;
          .my_class {
            padding: 5px 0;
          }
          .my_name {
            padding: 5px 0; 
            font-size: 100%;
            white-space: nowrap;
          }
        }
      }
      .checked-info {
        width: 30%;
        p {
          padding: 5px 0;
          text-align: center;
        }
      }
      .health-info {
        width: 30%;
        p {
          padding: 5px 0;
          text-align: center;
        }
      }
    }

    .check-box-title {
      
    }
    .check-box {
      display: flex;
      height: 250px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 5px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.04);
      background: white;
      .left-box {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .right-box {
        width: 60%;
        .check-head {
          font-size: 2rem;
          margin: 20px 0;
          border-bottom: 1px solid #eeeeee;
          letter-spacing: 6px;
          font-weight: 600;
          .check-icon {
            color: rgb(48, 200, 214);
          }
        }
        .check-message {
          padding: 10px 0;
          .check-icon {
            color: orange;
          }
        }
        .check-btns {
          display: flex;
          margin-top: 30px;
          .btn-left {
            width: 50%;
            .check-btn {
              display: block;
              width: 50%;
              padding: 15px;
              margin: 0 auto;
              background: rgb(48, 200, 214);
              color: white;
              text-align: center;
              font-size: 0.8rem;
              border-radius: 6px 6px;
              &:hover {
                opacity: 0.6;
                transition: 0.4s;

                }
            }    
          }
          .btn-right {
            display: flex;
            align-items: center;
            width: 50%;
            .learn-btn {
              width: 50%;
              padding: 15px;
              margin: 0 auto;
              background: gray;
              color: white;
              text-align: center;
              font-size: 0.8rem;
              border-radius: 6px 6px;
              &:hover {
                opacity: 0.6;
                transition: 0.4s;
                cursor: pointer;
              }  
            }
          }
        }
      }
    }
    .learn-box {
      display: flex;
      justify-content: flex-end;
      .learn-lists {
        display: none;
        width: 30%;
        background: white;
        box-shadow: 0 1px 3px rgba(160,166,179,0.3);
        li {
          padding: 10px 10px;
        }
      }
    }
  }
  .right-container {
    width: 32%;
    .student-right-image {
      height: 380px;
      
    }
  }
}