html {
  color: #5876a3;
  font: 100%/1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  a {
    color: #5876a3;
    text-decoration: none;
  }
}

body {
  background: #f9fbfe;
}

header {
  position: relative;
  display: flex;
  height: 50px;
  background: white;
  padding: 10px 45px;
  box-shadow: 0 1px 3px rgba(160,166,179,0.3);
  .heading {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 30px;
    .heading-image-big {
      height: 65px;
    }
    .heading-image-small {
      display: none;
    }
  }
  .header-nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    .header-lists {
      display: flex;
      align-items: center;
      .header-list {
        margin-left: 50px;
      }
      .name {
        color: black;
        opacity: 0.6;
      }
    }
  }
}



.notice-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffda07;
  animation: fadeOut 10s ease 0s;
  opacity: 0;
  cursor: default;
  .notice {
    padding: 25px;
    color: white;
    letter-spacing: 5px;
    font-weight: 600;
    cursor: default;
  }
}  
@keyframes fadeOut {
  0% {opacity: 0;}
  50% {opacity: 0.7;}
  65% {opacity: 0.7;}
  100% {opacity: 0;}
}

.top-wrapper {
  min-height: 80vh;
  .container {
    margin: 0px 40px;
  }
}

footer {
  background: white;
  border-top: 1px solid #eee;
  padding: 30px 50px;
  font-size: 2rem;
}





@media (max-width: 380px) {
  header {
    position: relative;
    display: flex;
    height: 50px;
    background: white;
    padding: 10px 10px;
    box-shadow: 0 1px 3px rgba(160,166,179,0.3);
    .heading {
      display: flex;
      align-items: center;
      width: 30%;
      
      .heading-image-big {
        display: none;
      }
      .heading-image-small {
        display: block;
        height: 65px;
      }
    }
    .header-nav {
      width: 70%;
      display: flex;
      justify-content: flex-end;
      .header-lists {
        display: flex;
        align-items: center;
        .header-list {
          margin-left: 20px;
          font-size: 0.8rem;
          font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
          .signup-btn {
            padding: 12px 15px;
            background: rgb(48, 200, 214);
            color: white;
            border-radius: 8px 8px;
            font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
            &:active {
              opacity: 0.6;
            }
          }
          .signin-btn {
            padding: 12px 15px;
            border-radius: 8px 8px;
            &:active {
              background-color: #eeeeee;
            }
          }
        }
        .name {
          color: black;
          opacity: 0.6;
        }
      }
    }
  }
  .notice-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffda07;
    animation: fadeOut 10s ease 0s;
    opacity: 0;
    cursor: default;
    .notice {
      padding: 25px;
      color: white;
      letter-spacing: 5px;
      font-weight: 600;
      cursor: default;
    }
  }  
  @keyframes fadeOut {
    0% {opacity: 0;}
    50% {opacity: 0.7;}
    65% {opacity: 0.7;}
    100% {opacity: 0;}
  }
  
  .top-wrapper {
    min-height: 78vh;
    .container {
      margin: 0px 25px;
    }
  }
  
  footer {
    background: white;
    border-top: 1px solid #eee;
    padding: 30px 20px;
    font-size: 1rem;
  }
}
