header {
  display: flex;
  height: 50px;
  background: white;
  padding: 0px 40px;
  .heading {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 30px;
  }
  .header-nav {
    width: 50%;
    background: red;
    display: flex;
    justify-content: flex-end;
    .header-lists {
      display: flex;
      align-items: center;
      background: pink;
      .header-list {
        margin-left: 50px;
      }
    }
  }
}

footer {
  background: gray;
}
