html {
  color: #5876a3;
  font: 100%/1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  a {
    color: #5876a3;
    text-decoration: none;
  }
}

header {
  display: flex;
  height: 50px;
  background: white;
  padding: 10px 45px;
  box-shadow: 0 1px 3px rgba(160,166,179,0.3);
  .heading {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 30px;
  }
  .header-nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    .header-lists {
      display: flex;
      align-items: center;
      .header-list {
        margin-left: 50px;
      }
      .name {
        color: black;
        opacity: 0.6;
      }
    }
  }
}

body {
  background: #f9fbfe;
}

.top-wrapper {
  min-height: 100vh;
  .container {
    margin: 0px 40px;
  }
}

footer {
  background: white;
  border-top: 1px solid #eee;
  padding: 30px 50px;
  font-size: 2rem;
}
