.parent-container {
  background-color: red;
  display: flex;
  margin: 60px 140px;
  .left-container {
    background-color: orange;
    width: 68%;
    .sheets-links {
      background-color: purple;
      display: flex;
      justify-content: space-around;
      padding: 20px 0;
      margin-bottom: 80px;
      .sheet-link-date {
        .sheet-link-lists {
          .sheet-date {
            display: flex;
          }
        }
      }
      .sheet-link-class {

      }
      .sheet-link-teacher {
        .sheet-teachers {
          
        }
      }
    }
  }
  .right-container {
    background-color: orchid;
    width: 32%;
  }
}